/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Estilo para el body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0e068a9d; /* Color de fondo claro */
}

/* Estilo para el título */
#titulo {
  background-image: linear-gradient(to left, #830606, #14067e);
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* Estilo para el cuadro */
#cuadro {
  width: 400px;
  margin: 20px auto; /* Centrar horizontalmente con margen superior e inferior */
  padding: 10px;
  border: 1px solid white;
  text-align: center; /* Centrar textos dentro del cuadro */
}

/* Estilo para el footer */
footer {
  padding-top: 10px;
  border-top: 1px solid white;
  text-align: center;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* altura completa de la ventana */
}

.video-container video {
  max-width: 100%;
  height: auto;
}

.images-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si hay altura fija */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 20px; /* Espacio interno */
}

.images-container img {
  max-width: 200px; /* Ajusta el tamaño máximo de las imágenes */
  height: auto;
  border-radius: 10px; /* Esquinas redondeadas (opcional) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave (opcional) */
}

.fan-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si hay altura fija */
}
